<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        div {
            /*height: 200px;*/
            width: 100%;
            background-color: powderblue;
        }
        .fit {
            display: block;
            max-width: 80%;
            /*max-height: 99%;*/
            margin-left: auto;
            margin-right: auto
        }
        .indent
        {
            padding-top: 1.5em
        }
        .center
        {
            text-align:center;
            vertical-align:middle
        }
    </style>

</head>
<body>

<div>
    <!--<img class="fit" src="./pictures/adele_hello_label.png" alt="Hello from the other side">-->

    <form id="myForm" class="indent center" method="POST" action="/todoList">-->
        taper le nom d'une ville <br>
        <input type="text" name="cityname" ><br>
        <!--<input type="submit" value="Submit">-->
    </form>
    <button class='fit' onclick="sendUserData()">Envoyer</button>

    <p class='center' style="color:red;font-weight: bold;" id="form_warning">
    </p>

    <script>
        function sendUserData() {
            var myform = document.getElementById("myForm");
            var text = myform.name.value;
            var warning_p = document.getElementById("form_warning");
            if (text == "" ){
                warning_p.innerText ="Aucun nom de ville n'a été renseigné !!!";
                console.log('Aucun nom de ville  n\'a été renseigné');
            }
            else{
                warning_p.innerText ="";
                console.log('send message : ',text);
                myform.submit();
            }
        }
    </script>

</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>